/*p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  user-select: none;
}*/

body{
  margin:0;
  padding:0;
  overflow:hidden;
  background:#000;
  color:#fff;
}

canvas{
  position:absolute;
}

#nocanvas{
  margin-top:80px;
  margin-left:20px;
}

#logo{
  z-index:1;
  color:#fff;
}
